<% @hotels.each do |hotel| %>
  <div class="col-md-12 hotel-box">
    <%= form_for :booking, url: bookings_path do %>
      <%= hidden_field_tag 'booking[place_id]', hotel.place_id %>
      <%= hidden_field_tag 'booking[hotel]', hotel.name %>
      <%= hidden_field_tag 'booking[city]', city_from_place(hotel.vicinity) %>
      <div class="col-md-12">
        <h3><%= hotel.name %></h3>
        <p><%= hotel.vicinity %></p>
      </div>

      <div class="col-md-12 form-group">
        <label>Checkin date</label>
        <%= text_field_tag 'booking[checkin]', nil, class: 'form-control datepicker' %>
      </div>

      <div class="col-md-12 form-group">
        <%= submit_tag 'Book', class: 'btn btn-sm btn-success', data: { confirm: 'Are you sure you want to book this hotel?' } %>
      </div>

    <% end %>
  </div>
<% end %>